In [1]:
import pandas as pd
import numpy as np

In [2]:
#get data(please replace the data source path with your own data path)
data_train = pd.read_csv("E:/Cheryl/Class/5001 foundatains of data analytics/Kaggle_Jimmygame/data/train.csv")
data_train = data_train.set_index("id")
data_test = pd.read_csv("E:/Cheryl/Class/5001 foundatains of data analytics/Kaggle_Jimmygame/data/test.csv")
data_test = data_test.set_index("id")
data_test[data_test.isnull().purchase_date==True]

,is_free,price,genres,categories,tags,purchase_date,release_date,total_positive_reviews,total_negative_reviews
id,,,,,,,,,
12,False,4800,"Action,Adventure,Indie","Single-player,Steam Achievements,Full controll...","Survival,Adventure,Great Soundtrack,Indie,Craf...",NaN,24-Feb-16,NaN,NaN
45,False,7000,"Adventure,Simulation,Sports","Single-player,Multi-player,Steam Achievements,...","Hunting,Open World,Multiplayer,Simulation,Adve...",NaN,16-Feb-17,NaN,NaN

In [3]:
# Handling the missing data
data_train=data_train.dropna(how='any', axis = 0)
data_test = data_test.fillna(value={"purchase_date": data_test["purchase_date"].mode()[0], 
                                    "total_positive_reviews": data_test["total_positive_reviews"].mode()[0], 
                                    "total_negative_reviews":data_test["total_negative_reviews"].mode()[0]})

In [4]:
all_data = data_train.append(data_test,sort=False)
all_data

,playtime_forever,is_free,price,genres,categories,tags,purchase_date,release_date,total_positive_reviews,total_negative_reviews
id,,,,,,,,,,
0,0.000000,False,3700.0,"Adventure,Casual,Indie","Single-player,Steam Trading Cards,Steam Cloud","Indie,Adventure,Story Rich,Casual,Atmospheric,...","Jul 2, 2018","10 Dec, 2013",372.0,96.0
1,0.016667,True,0.0,RPG,"Single-player,Partial Controller Support","Mod,Utilities,RPG,Game Development,Singleplaye...","Nov 26, 2016","12 Aug, 2015",23.0,0.0
2,0.000000,False,5000.0,"Adventure,Casual,Indie","Single-player,Full controller support,Steam Tr...","Point & Click,Adventure,Story Rich,Comedy,Indi...","Jul 2, 2018","28 Jan, 2014",3018.0,663.0
3,1.533333,False,9900.0,"Action,RPG","Single-player,Multi-player,Steam Achievements,...","Medieval,RPG,Open World,Strategy,Sandbox,Actio...","Nov 28, 2016","31 Mar, 2010",63078.0,1746.0
4,22.333333,False,4800.0,"Action,Indie,Strategy","Single-player,Co-op,Steam Achievements,Full co...","Tower Defense,Co-op,Action,Strategy,Online Co-...","Mar 4, 2018","30 Jul, 2012",8841.0,523.0
...,...,...,...,...,...,...,...,...,...,...
85,NaN,False,5000.0,Action,"Single-player,Steam Achievements,Full controll...","Western,FPS,Action,Story Rich,Bullet Time,Shoo...","Mar 23, 2018",22-May-13,9334.0,516.0
86,NaN,False,3600.0,"Action,Adventure",Single-player,"Adventure,Action,Ninja,Stealth,Cute,Singleplay...","Mar 3, 2018",14-Sep-09,1245.0,176.0
87,NaN,False,11200.0,"Simulation,Strategy","Single-player,Multi-player,Cross-Platform Mult...","Grand Strategy,Strategy,Historical,Simulation,...","Feb 18, 2018",13-Aug-13,33128.0,6350.0
88,NaN,True,0.0,"Action,Adventure,RPG,Simulation,Sports,Strategy","Single-player,Multi-player,Co-op,Online Co-op,...","VR,RPG,Action,Sports,Simulation,Adventure,Stra...","Nov 19, 2017",19-Jun-17,5.0,0.0
89,NaN,False,26800.0,"Action,Strategy","Single-player,Multi-player,Steam Achievements,...","Strategy,Fantasy,Turn-Based Strategy,RTS,Grand...","Nov 25, 2018",28-Sep-17,17777.0,2594.0

In [5]:

# Handling genres,categories,tags
dummies_genres= all_data["genres"].str.get_dummies(",")
dummies_categories= all_data["categories"].str.get_dummies(",")

df = pd.concat([all_data, dummies_genres, dummies_categories], axis=1)
df = df.drop(["genres","categories","tags"],axis=1)
df

,playtime_forever,is_free,price,purchase_date,release_date,total_positive_reviews,total_negative_reviews,Action,Adventure,Animation & Modeling,...,Single-player,Stats,Steam Achievements,Steam Cloud,Steam Leaderboards,Steam Trading Cards,Steam Workshop,SteamVR Collectibles,VR Support,Valve Anti-Cheat enabled
id,,,,,,,,,,,,,,,,,,,,,
0,0.000000,False,3700.0,"Jul 2, 2018","10 Dec, 2013",372.0,96.0,0,1,0,...,1,0,0,1,0,1,0,0,0,0
1,0.016667,True,0.0,"Nov 26, 2016","12 Aug, 2015",23.0,0.0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0.000000,False,5000.0,"Jul 2, 2018","28 Jan, 2014",3018.0,663.0,0,1,0,...,1,0,0,1,0,1,0,0,0,0
3,1.533333,False,9900.0,"Nov 28, 2016","31 Mar, 2010",63078.0,1746.0,1,0,0,...,1,0,1,0,0,1,1,0,0,0
4,22.333333,False,4800.0,"Mar 4, 2018","30 Jul, 2012",8841.0,523.0,1,0,0,...,1,0,1,1,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,NaN,False,5000.0,"Mar 23, 2018",22-May-13,9334.0,516.0,1,0,0,...,1,0,1,1,1,1,0,0,0,0
86,NaN,False,3600.0,"Mar 3, 2018",14-Sep-09,1245.0,176.0,1,1,0,...,1,0,0,0,0,0,0,0,0,0
87,NaN,False,11200.0,"Feb 18, 2018",13-Aug-13,33128.0,6350.0,0,0,0,...,1,0,1,1,0,1,1,0,0,0
88,NaN,True,0.0,"Nov 19, 2017",19-Jun-17,5.0,0.0,1,1,0,...,1,1,1,1,1,0,0,0,0,0
89,NaN,False,26800.0,"Nov 25, 2018",28-Sep-17,17777.0,2594.0,1,0,0,...,1,0,1,0,0,1,0,0,0,0

In [6]:
# Handling time
df['purchase_date'] = pd.to_datetime(df['purchase_date'])
df['purchase_dayofweek'] = pd.to_datetime(df['purchase_date']).dt.dayofweek
df['purchase_year'] = pd.to_datetime(df['purchase_date']).dt.year
df['purchase_month'] = pd.to_datetime(df['purchase_date']).dt.month
df['release_date'] = pd.to_datetime(df['release_date'])
df['release_dayofweek'] = pd.to_datetime(df['release_date']).dt.dayofweek
df['release_year'] = pd.to_datetime(df['release_date']).dt.year
df['release_month'] = pd.to_datetime(df['release_date']).dt.month
df['release_purchase_interval'] = df["purchase_date"]-df["release_date"]
df['release_purchase_interval'] = df['release_purchase_interval'].dt.days

df = df.drop(["purchase_date","release_date"],axis=1)
df

,playtime_forever,is_free,price,total_positive_reviews,total_negative_reviews,Action,Adventure,Animation & Modeling,Audio Production,Casual,...,SteamVR Collectibles,VR Support,Valve Anti-Cheat enabled,purchase_dayofweek,purchase_year,purchase_month,release_dayofweek,release_year,release_month,release_purchase_interval
id,,,,,,,,,,,,,,,,,,,,,
0,0.000000,False,3700.0,372.0,96.0,0,1,0,0,1,...,0,0,0,0,2018,7,1,2013,12,1665
1,0.016667,True,0.0,23.0,0.0,0,0,0,0,0,...,0,0,0,5,2016,11,2,2015,8,472
2,0.000000,False,5000.0,3018.0,663.0,0,1,0,0,1,...,0,0,0,0,2018,7,1,2014,1,1616
3,1.533333,False,9900.0,63078.0,1746.0,1,0,0,0,0,...,0,0,0,0,2016,11,2,2010,3,2434
4,22.333333,False,4800.0,8841.0,523.0,1,0,0,0,0,...,0,0,0,6,2018,3,0,2012,7,2043
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,NaN,False,5000.0,9334.0,516.0,1,0,0,0,0,...,0,0,0,4,2018,3,2,2013,5,1766
86,NaN,False,3600.0,1245.0,176.0,1,1,0,0,0,...,0,0,0,5,2018,3,0,2009,9,3092
87,NaN,False,11200.0,33128.0,6350.0,0,0,0,0,0,...,0,0,0,6,2018,2,1,2013,8,1650
88,NaN,True,0.0,5.0,0.0,1,1,0,0,0,...,0,0,0,6,2017,11,0,2017,6,153
89,NaN,False,26800.0,17777.0,2594.0,1,0,0,0,0,...,0,0,0,6,2018,11,3,2017,9,423

In [7]:
# Handling review info

df["total_positive_reviews_ratio"]=df["total_positive_reviews"]/(df["total_positive_reviews"]+df["total_negative_reviews"])
df['total_positive_reviews_ratio'] = df['total_positive_reviews_ratio'].map(lambda x: x*100)  
df["total_negative_reviews_ratio"]=df["total_negative_reviews"]/(df["total_positive_reviews"]+df["total_negative_reviews"])
df['total_negative_reviews_ratio'] = df['total_negative_reviews_ratio'].map(lambda x: x*100)  
df = df.fillna(0)
df = df.drop(["total_positive_reviews","total_negative_reviews"],axis=1)
df

,playtime_forever,is_free,price,Action,Adventure,Animation & Modeling,Audio Production,Casual,Design & Illustration,Early Access,...,Valve Anti-Cheat enabled,purchase_dayofweek,purchase_year,purchase_month,release_dayofweek,release_year,release_month,release_purchase_interval,total_positive_reviews_ratio,total_negative_reviews_ratio
id,,,,,,,,,,,,,,,,,,,,,
0,0.000000,False,3700.0,0,1,0,0,1,0,0,...,0,0,2018,7,1,2013,12,1665,79.487179,20.512821
1,0.016667,True,0.0,0,0,0,0,0,0,0,...,0,5,2016,11,2,2015,8,472,100.000000,0.000000
2,0.000000,False,5000.0,0,1,0,0,1,0,0,...,0,0,2018,7,1,2014,1,1616,81.988590,18.011410
3,1.533333,False,9900.0,1,0,0,0,0,0,0,...,0,0,2016,11,2,2010,3,2434,97.306553,2.693447
4,22.333333,False,4800.0,1,0,0,0,0,0,0,...,0,6,2018,3,0,2012,7,2043,94.414780,5.585220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,0.000000,False,5000.0,1,0,0,0,0,0,0,...,0,4,2018,3,2,2013,5,1766,94.761421,5.238579
86,0.000000,False,3600.0,1,1,0,0,0,0,0,...,0,5,2018,3,0,2009,9,3092,87.614356,12.385644
87,0.000000,False,11200.0,0,0,0,0,0,0,0,...,0,6,2018,2,1,2013,8,1650,83.915092,16.084908
88,0.000000,True,0.0,1,1,0,0,0,0,0,...,0,6,2017,11,0,2017,6,153,100.000000,0.000000
89,0.000000,False,26800.0,1,0,0,0,0,0,0,...,0,6,2018,11,3,2017,9,423,87.266212,12.733788

In [8]:

df2 = df.tail(90)
df1 = df.head(355)
train_data_y = df1.iloc[:,0:1]
df = df.drop(["playtime_forever"],axis=1)
df

,is_free,price,Action,Adventure,Animation & Modeling,Audio Production,Casual,Design & Illustration,Early Access,Free to Play,...,Valve Anti-Cheat enabled,purchase_dayofweek,purchase_year,purchase_month,release_dayofweek,release_year,release_month,release_purchase_interval,total_positive_reviews_ratio,total_negative_reviews_ratio
id,,,,,,,,,,,,,,,,,,,,,
0,False,3700.0,0,1,0,0,1,0,0,0,...,0,0,2018,7,1,2013,12,1665,79.487179,20.512821
1,True,0.0,0,0,0,0,0,0,0,0,...,0,5,2016,11,2,2015,8,472,100.000000,0.000000
2,False,5000.0,0,1,0,0,1,0,0,0,...,0,0,2018,7,1,2014,1,1616,81.988590,18.011410
3,False,9900.0,1,0,0,0,0,0,0,0,...,0,0,2016,11,2,2010,3,2434,97.306553,2.693447
4,False,4800.0,1,0,0,0,0,0,0,0,...,0,6,2018,3,0,2012,7,2043,94.414780,5.585220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,False,5000.0,1,0,0,0,0,0,0,0,...,0,4,2018,3,2,2013,5,1766,94.761421,5.238579
86,False,3600.0,1,1,0,0,0,0,0,0,...,0,5,2018,3,0,2009,9,3092,87.614356,12.385644
87,False,11200.0,0,0,0,0,0,0,0,0,...,0,6,2018,2,1,2013,8,1650,83.915092,16.084908
88,True,0.0,1,1,0,0,0,0,0,0,...,0,6,2017,11,0,2017,6,153,100.000000,0.000000
89,False,26800.0,1,0,0,0,0,0,0,0,...,0,6,2018,11,3,2017,9,423,87.266212,12.733788

In [9]:

# nomalization
from sklearn.preprocessing import StandardScaler
s_df1 = StandardScaler()
df_nor = s_df1.fit_transform(df)

In [10]:
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, ExtraTreesRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold,cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
from sklearn import linear_model

# train model
RF_model = RandomForestRegressor(n_estimators=100,max_depth=2)
training_data = df_nor[:355, :]
test_data = df_nor[-90:, :]
training_x ,testing_x,training_y,testing_y = train_test_split(training_data,train_data_y,test_size=0.2,random_state=0)
RF_model.fit(training_x, training_y)

'''
GB_model = GradientBoostingRegressor()
x = df_train[:, 1:]
y = df_train[:, 0]
GB_model.fit(x, y)

LE_model =  LinearRegression()
x = df_train[:, 1:]
y = df_train[:, 0]
LE_model.fit(x, y)


ET_model = ExtraTreesRegressor()
x = df_train[:, 1:]
y = df_train[:, 0]
ET_model.fit(x, y)
'''



RF_predict_y = RF_model.predict(testing_x)
ran_rmse = mean_squared_error(testing_y, RF_predict_y)
ran_rmse = np.sqrt(ran_rmse)
print(ran_rmse)

6.587549676364488

C:\Users\戴尔\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:16: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  app.launch_new_instance()

In [11]:
# prediction
predictions = RF_model.predict(test_data)
predictions

array([ 2.24445928,  1.54381402,  2.06672909,  2.7575317 ,  1.64926451,
        3.78772073,  4.04665592,  1.3276594 ,  3.2162075 ,  2.55364472,
        1.83682647,  1.34295994,  1.3276594 ,  1.34616889,  1.3276594 ,
        2.88550667, 10.61876797,  3.17496169,  1.86864011,  1.90493193,
        1.3276594 ,  1.36641654,  2.06672909,  2.19367925,  3.80129583,
        2.94337428,  1.35118007,  1.40771055,  1.36648061,  1.67897861,
        1.3276594 ,  1.38492603,  2.99069662,  1.64022147,  1.40022657,
        1.62492093,  2.87232941,  6.15707161,  1.84518351,  1.34295994,
        1.36146943,  1.43080345,  2.59609151,  2.94337428,  2.18386977,
        1.3276594 ,  2.8888055 ,  2.75910921,  2.06672909,  8.58641725,
        7.83401936,  2.16987314,  1.66695108,  2.05907591,  1.46956059,
        1.3276594 ,  6.48823072,  2.00829588,  5.45151131,  1.46956059,
        1.36641654,  1.34616889,  1.3276594 , 22.51335443,  1.3276594 ,
        1.3276594 ,  1.36146943,  1.54749861,  3.93650118,  3.56469852,
        2.23899721,  1.64022147,  2.85450225,  4.1543257 , 10.41152256,
        2.47496385,  3.06253548,  1.36146943,  1.38171708,  1.34616889,
        2.85539226,  3.44356297,  5.0466188 ,  2.94096907,  3.37208761,
        1.34616889,  2.06672909,  3.40180567, 15.99499781,  3.17564359])

In [12]:
# save results
result = pd.DataFrame({'id':df2.reset_index("id")['id'].as_matrix(), 'playtime_forever':predictions})
result.to_csv("E:/Cheryl/Class/5001 foundatains of data analytics/Kaggle_Jimmygame/data/RF_predictions.csv", index=False)

C:\Users\戴尔\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.